body{
    margin:0;
    padding:0;
    width:100%;
}
header{
    width: auto;
    display: flex;
}
button{
    background: transparent;
    border: none;
}
button:hover{
    transform: rotate(-20deg);
}

.sanji{
    display: flex;
    margin-top: 150px;
    margin-left: 400px;
}

.sanjii{
    object-fit: contain;
}

#rireki{
    flex-direction: column;
}

h1{
    background-color: #d0e7fc;
    text-align: center;
}

table{
    margin: 20px 3%;
    width: 500px;
}
th{
    width:30%;
    font-size:24px;
    background-color:#d0e7fc;
    border-bottom: 1px solid #8dc3f5;
}
td{
    font-size:30px;
    background-color:rgb(241, 239, 239);
    border-bottom: 1px solid #8dc3f5;
}

#curtainLeft,
#curtainRight{
    top: 0;
    width: 50%;
    height: 1043px;;
    background:rgb(59, 23, 23);
    position: absolute;
}

#curtainLeft{ left: 0; z-index: 100;}
#curtainRight{right: 0; z-index: 101;}
